/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;

  & + table {
    margin-top: 1em;
  }
}

table, td {
   border: none!important;
   vertical-align: top;
   border-spacing: 0;
   padding: 0.5em;
}

thead {
  display:none;
}

td:first-child {
  width: 10%;
}
